html {
    box-sizing: border-box;
    font-family: 'Chewy', cursive;

    width: 100%;
    height: 100vh;
}

body {
    color: white;
    margin: 0;
    padding: 0;
}

.billboard {
    position: relative;
    padding-bottom: 60%;
    overflow: hidden;
}

.ocean {
    background-image: url(../images/ocean.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-animation: scale 6s ease-in-out alternate infinite;
    animation: scale 6s ease-in-out alternate infinite;
    position: absolute;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.menu {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    width: 3.5em;
    line-height: 3.5em;
    display: inline-block;
    text-align: center;
    transition: all 0.2s linear;
}

.button {
    text-align: center;
    margin: 1em;
    padding: 1em;
    position: relative;
    z-index: 10;
}

.menu:hover {
    opacity: 1;
    background-color: black;
    color: white;
}

h1 { 
    color: white;
    position: absolute;
    top: 100px;
    left: 210px;
}

.seahorse {
    background-image: url("../images/seahorse-copy.svg");
    background-repeat: no-repeat;
    background-size: 200px 400px;
    background-position: center top;
    position: absolute;
    top: 190px;
    left: 200px;
    width: 200px;
    height: 200px;
}

.seahorse:hover {
    background-position: center bottom;
 }

.bubbles {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 400px;
    -webkit-animation: bounce 8s ease-in-out alternate infinite;
    animation: bounce 8s ease-in-out alternate infinite;
    position: absolute;
}

.bubblesflipped {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    -webkit-animation: bounce 8s ease-in-out alternate infinite;
    animation: bounce 8s ease-in-out alternate infinite;
    position: absolute;
}

@-webkit-keyframes bounce {

    0% {
      -webkit-transform: translateY(0px);    
    }
    
    50% {
      -webkit-transform: translateY(100px);    
    }
        
}

@keyframes bounce {

    0% {
      transform: translateY(0px);    
    }
    
    50% {
      transform: translateY(100px);    
    }
        
}


@-webkit-keyframes scale {

    0% {
      -webkit-transform: scale(1,1);    
    }
    
    100% {
      -webkit-transform: scale(1.1,1.1);    
    }
    
}

@keyframes scale {

    0% {
      transform: scale(1,1);    
    }
    
    100% {
      transform: scale(1.1,1.1);    
    }
    
}